<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		      	USER_NO
			  , USER_ID
			  ,	USER_PWD
			  ,	USER_NAME
			  ,	NICKNAME
			  ,	PHONE
			  ,	EMAIL
			  ,	ENROLL_DATE
			  ,	ONDO
			  ,	USER_LEVEL
			  ,	USER_STATUS
			  ,	CAUTION
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND USER_STATUS = 'Y'
	</entry>
	
	<entry key="idMember">
		SELECT 
		      	USER_NO
			  , USER_ID
			  ,	USER_PWD
			  ,	USER_NAME
			  ,	NICKNAME
			  ,	PHONE
			  ,	EMAIL
			  ,	ENROLL_DATE
			  ,	ONDO
			  ,	USER_LEVEL
			  ,	USER_STATUS
			  ,	CAUTION
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND USER_STATUS = 'Y'
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) count
		  FROM MEMBER
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , ENROLL_DATE
		                     , ONDO 
		                     , USER_LEVEL
		                     , CAUTION
		                  FROM MEMBER 
		                 ORDER
		                    BY ENROLL_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	

	<entry key="insertMember">
	INSERT
	INTO MEMBER (
	USER_NO, USER_ID, USER_PWD, USER_NAME, NICKNAME, PHONE, EMAIL,CAUTION) 
	VALUES 
			(
			SEQ_MEM.NEXTVAL
			, ?
			, ?
			, ?
			, ?
			, ?
			, ? 
			, 0
			)
		  
	</entry>
	
	 
	
	<!--  
	<entry key="insertMember">
	INSERT
	  INTO MEMBER (
	  USER_NO, USER_ID, USER_PWD, USER_NAME, 
	  PHONE, NICKNAME, EMAIL, CAUTION)
	VALUES
		   (
		   'M'||SEQ_MEM.NEXTVAL
		 , ?
		 , ?
		 , ?
		 , ?
		 , ?
		 , ?
		 , 0
		   )	  
	</entry>
	
	-->
	
	<entry key="searchPwd">
		SELECT 
		      	USER_NO
			  , USER_ID
			  ,	USER_PWD
			  ,	USER_NAME
			  ,	NICKNAME
			  ,	PHONE
			  ,	EMAIL
			  ,	ENROLL_DATE
			  ,	ONDO
			  ,	USER_LEVEL
			  ,	USER_STATUS
			  ,	CAUTION
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND USER_NAME = ?
		   AND EMAIL = ?
		   AND USER_STATUS = 'Y'
	</entry>
	
	<entry key="changePwd">
		UPDATE MEMBER SET USER_PWD = ? WHERE USER_ID = ?
	</entry>
	
	<entry key="countMember">
		SELECT
			   COUNT(*) count
		  FROM MEMBER
		 WHERE ENROLL_DATE = TO_CHAR(SYSDATE,'YY/MM/DD')
	</entry>
	
	<entry key="updateUserLevel">
		UPDATE MEMBER
		   SET USER_LEVEL = 'C'
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectBlackListCount">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE CAUTION >= 3
	</entry>
	
	<entry key="selectBlackList">
		SELECT *
		  FROM(
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                  SELECT 
	                       USER_NO
	                     , USER_ID
	                     , USER_NAME
	                     , CAUTION
	                     , USER_STATUS
	                  FROM MEMBER 
	                 WHERE USER_LEVEL = 'B'
	                 ORDER
	                    BY USER_NO DESC
	                    ) A
	       		 )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectTradeTypeCount">
		SELECT COUNT(TRADE_TYPE) "COUNT"
		  FROM PRODUCT
		 WHERE SELLER_NO = ?
		   AND TRADE_TYPE = 2
	</entry> 
	  
	<entry key="countBoardList">
		SELECT
			   COUNT(*) count
		  FROM PRODUCT
	</entry>
	
	<entry key="selectBoardList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       PRODUCT_NAME
		                     , PRODUCT_NO
		                     , USER_NAME
		                     , CAUTION
		                     , UPLOAD_DATE
		                     , UPLOAD_TYPE
		                  FROM PRODUCT P
		                  JOIN MEMBER M ON (P.SELLER_NO = M.USER_NO)
		                 ORDER
		                    BY UPLOAD_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET USER_STATUS = 'N'
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="recoveryMember">
		UPDATE MEMBER
		   SET USER_STATUS = 'Y'
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectEnrollMonth">
		SELECT
		       TO_CHAR(ENROLL_DATE,'YY-MM') ENROLL_DATE
		     , COUNT(*) count
		  FROM MEMBER
		 GROUP
		    BY TO_CHAR(ENROLL_DATE,'YY-MM')
		 ORDER
		    BY 1
	</entry>
	
	<entry key="sellListCountPo">
		SELECT
		       COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE SELLER_NO = ?
		   AND UPLOAD_TYPE = 'Y'
	</entry>
	
	<entry key="sellListPo">
		SELECT *
		  FROM (
		       SELECT ROWNUM RNUM, A.*
		         FROM (
		              SELECT
		                     PRODUCT_NO
		                   , PRODUCT_NAME
		                   , PRICE
		                   , TRADE_TYPE
		                   , SELL_STATUS
		                   , COALESCE(IMG_PATH || CHANGE_NAME) "TITLEIMG"
		                   , TO_CHAR(P.UPLOAD_DATE, 'YYYY-MM-DD') UPLOAD_DATE
		                FROM PRODUCT P
		                JOIN IMAGES ON (PRODUCT_NO = REF_PNO)
		               WHERE SELLER_NO = ?
		                 AND IMG_LEVEL = '1'
		               ORDER
		                  BY UPLOAD_DATE DESC
		                   ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="buyListCountPo">
		SELECT
		       COUNT(*) COUNT
		  FROM TRADE
		 WHERE BUYER_NO = ?
	</entry>
		
	<entry key="BuyListPo">
		SELECT *
		  FROM (
		       SELECT ROWNUM RNUM, A.*
		         FROM (
		              SELECT
		                     TRADE_NO
		                   , PRODUCT_NAME
		                   , PRICE
		                   , TO_CHAR(TRADE_DATE, 'YYYY-MM-DD') TRADE_DATE
		                   , DELIVERY_STATUS
		                FROM TRADE
		                JOIN PRODUCT USING (PRODUCT_NO)
		               WHERE SELLER_NO = ?
		               ORDER
		                  BY TRADE_DATE DESC
		                   ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countOndoList">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE ONDO &lt;= 10.0
	</entry>
	
	<entry key="countCbtnList">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE USER_LEVEL = 'C'
	</entry>
	
	<entry key="countSearchList">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE USER_ID LIKE '%' || ? || '%'
		    OR USER_NAME LIKE '%' || ? || '%'
	</entry>

	<entry key="selectOndoList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , ENROLL_DATE
		                     , ONDO 
		                     , USER_LEVEL
		                     , CAUTION
		                  FROM MEMBER 
		                 WHERE USER_STATUS = 'Y'
		                   AND ONDO &lt;= 10.0
		                 ORDER
		                    BY ENROLL_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCbtnList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , ENROLL_DATE
		                     , ONDO 
		                     , USER_LEVEL
		                     , CAUTION
		                  FROM MEMBER 
		                 WHERE USER_STATUS = 'Y'
		                   AND ONDO &lt;= 10.0
		                   AND USER_LEVEL = 'C'
		                 ORDER
		                    BY ENROLL_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSearchList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , ENROLL_DATE
		                     , ONDO 
		                     , USER_LEVEL
		                     , CAUTION
		                  FROM MEMBER 
		                 WHERE USER_STATUS = 'Y'
		                   AND (USER_ID LIKE '%' || ? || '%'
        					OR USER_NAME LIKE '%' || ? || '%')
		                 ORDER
		                    BY ENROLL_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countBListSearch">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE USER_LEVEL = 'B'
		   AND CAUTION &gt;= 3
		   AND USER_ID = ?
		   AND USER_NAME = ?
	</entry>
	
	<entry key="selectBListSearch">
		SELECT *
			  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , CAUTION
		                     , USER_STATUS
		                  FROM MEMBER 
		                 WHERE USER_LEVEL = 'B'
		                   AND CAUTION &gt;= 3
		                   AND (USER_ID LIKE '%' || ? || '%'
		  				   OR USER_NAME LIKE '%' || ? || '%') 
		                 ORDER
		                    BY USER_NO DESC
		                    ) A
		       		 )
			 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countSearchBoard">
		 SELECT 
               	COUNT(*) count
           FROM PRODUCT P
           JOIN MEMBER M ON (P.SELLER_NO = M.USER_NO)
          WHERE (PRODUCT_NAME LIKE '%' || ? || '%'
             OR USER_NAME LIKE '%' || ? || '%' )
	</entry>
	
	<entry key="selectSearchBoard">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_NAME
		                     , CAUTION
		                     , PRODUCT_NAME
		                     , UPLOAD_DATE
		                  FROM PRODUCT P
		                  JOIN MEMBER M ON (P.SELLER_NO = M.USER_NO)
		                 WHERE (PRODUCT_NAME LIKE '%' || ? || '%'
             			   	OR USER_NAME LIKE '%' || ? || '%' )
		                 ORDER
		                    BY UPLOAD_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMember">
		SELECT
		      *
		  FROM MEMBER
		 WHERE USER_NO = ?
	</entry>
</properties>