<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		      	USER_NO
			  , USER_ID
			  ,	USER_PWD
			  ,	USER_NAME
			  ,	NICKNAME
			  ,	PHONE
			  ,	EMAIL
			  ,	ENROLL_DATE
			  ,	ONDO
			  ,	USER_LEVEL
			  ,	USER_STATUS
			  ,	CAUTION
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND USER_STATUS = 'Y'
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE USER_LEVEL IN ('U','C')
		   AND USER_STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       USER_NO
		                     , USER_ID
		                     , USER_NAME
		                     , ENROLL_DATE
		                     , ONDO 
		                     , USER_LEVEL
		                     , CAUTION
		                  FROM MEMBER 
		                 WHERE USER_LEVEL IN ('U','C')
		                   AND USER_STATUS = 'Y'
		                   
		                 ORDER
		                    BY USER_NO DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertMember">
	INSERT
	  INTO MEMBER
	VALUES
		   (?
		 , ?
		 , ?
		 , ?
		 , ?
		   )	  
	</entry>
	
	<entry key="countMember">
		SELECT
			   COUNT(*) count
		  FROM MEMBER
		 WHERE ENROLL_DATE = TO_CHAR(SYSDATE,'YY/MM/DD')
	</entry>
	
	<entry key="updateUserLevel">
		UPDATE MEMBER
		   SET USER_LEVEL = 'C'
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectBlackListCount">
		SELECT COUNT(*) count
		  FROM MEMBER
		 WHERE CAUTION >= 3
	</entry>
	
	<entry key="selectBlackList">
		SELECT *
		  FROM(
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	                  SELECT 
	                       USER_NO
	                     , USER_ID
	                     , USER_NAME
	                     , CAUTION
	                     , USER_STATUS
	                  FROM MEMBER 
	                 WHERE USER_LEVEL = 'B'
	                 ORDER
	                    BY USER_NO DESC
	                    ) A
	       		 )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectTradeTypeCount">
		SELECT COUNT(TRADE_TYPE) "COUNT"
		  FROM PRODUCT
		 WHERE SELLER_NO = ?
		   AND TRADE_TYPE = 2
	</entry> 
	  
	<entry key="countBoardList">
		SELECT
			   COUNT(*) count
		  FROM PRODUCT
	</entry>
	
	<entry key="selectBoardList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                       PRODUCT_NAME
		                     , USER_NO
		                     , USER_NAME
		                     , CAUTION
		                     , UPLOAD_DATE
		                  FROM PRODUCT P
		                  JOIN MEMBER M ON (P.SELLER_NO = M.USER_NO)
		                 ORDER
		                    BY UPLOAD_DATE DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET USER_STATUS = 'Y'
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="recoveryMember">
		UPDATE MEMBER
		   SET USER_STATUS = 'N'
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectEnrollMonth">
		SELECT
		       TO_CHAR(ENROLL_DATE,'YY-MM') enrolldate
		     , COUNT(*) count
		  FROM MEMBER
		 GROUP
		    BY TO_CHAR(ENROLL_DATE,'YY-MM')
		 ORDER
		    BY 1
	</entry>
	
	<entry key="sellListCountPo">
		SELECT
		       COUNT(*) COUNT
		  FROM PRODUCT
		 WHERE SELLER_NO = ?
		   AND UPLOAD_TYPE = 'Y'
	</entry>
	
	<entry key="sellListPo">
		SELECT *
		  FROM (
		       SELECT ROWNUM RNUM, A.*
		         FROM (
		              SELECT
		                     PRODUCT_NO
		                   , PRODUCT_NAME
		                   , PRICE
		                   , TRADE_TYPE
		                   , SELL_STATUS
		                   , IMG_PATH || CHANGE_NAME "TITLEIMG"
		                   , TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') UPLOAD_DATE
		                FROM PRODUCT
		                JOIN IMAGES ON (REF_PNO = PRODUCT_NO)
		               WHERE SELLER_NO = ?
		                 AND IMG_LEVEL = '1'
		               ORDER
		                  BY UPLOAD_DATE DESC
		                   ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="buyListCountPo">
		SELECT
		       COUNT(*) COUNT
		  FROM TRADE
		 WHERE BUYER_NO = ?
	</entry>
		
	<entry key="BuyListPo">
		SELECT *
		  FROM (
		       SELECT ROWNUM RNUM, A.*
		         FROM (
		              SELECT
		                     TRADE_NO
		                   , PRODUCT_NAME
		                   , PRICE
		                   , TO_CHAR(TRADE_DATE, 'YYYY-MM-DD') TRADE_DATE
		                   , DELIVERY_STATUS
		                FROM TRADE
		                JOIN PRODUCT USING (PRODUCT_NO)
		               WHERE SELLER_NO = ?
		               ORDER
		                  BY TRADE_DATE DESC
		                   ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	

	
</properties>