<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="countSalesRate">
		SELECT 
		       NVL(SUM(PRICE),0) salesRate
		  FROM PRODUCT 
		  JOIN TRADE  USING(PRODUCT_NO)
	</entry>
	
	<entry key="todayStockGoods">
		SELECT 
		       NVL(COUNT(*),0) tstockgoods
		  FROM PRODUCT
		 WHERE UPLOAD_DATE = TO_CHAR(SYSDATE,'YY/MM/DD')
	</entry>
	
	<entry key="countReportedProduct">
		SELECT NVL(COUNT(*),0) reportedproduct
		  FROM (SELECT DISTINCT
				       PRODUCT_NO
				  FROM PRODUCT
				  JOIN REPORT USING (PRODUCT_NO)
				 WHERE REPORT_DATE = TO_CHAR(SYSDATE,'YY/MM/DD'))
	</entry>
	
	<entry key="selectProductCount">
		SELECT 
		       COUNT(*) "count"
		  FROM PRODUCT
		 WHERE UPLOAD_TYPE='Y'
	</entry>
	
	<entry key="selectProduct">
		SELECT * 
  		  FROM (
		        SELECT 
		               ROWNUM RNUM, A.*
		          FROM 
		               (
		               SELECT 
		                      PRODUCT_NO
		                    , SELLER_NO
		                    , PRODUCT_NAME
		                    , PRICE
		                    , ZONE
		                    , UPLOAD_DATE
		                 FROM PRODUCT
		                WHERE UPLOAD_TYPE = 'Y'
		                ORDER 
		                   BY DBMS_RANDOM.VALUE
		                ) A   
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategoryList">
		SELECT 
		       CATEGORY_NAME
		     , CATEGORY_NO
		     , COUNT(CATEGORY_NO) "count"
		  FROM PRODUCT 
		  JOIN CATEGORY 
		 USING (CATEGORY_NO)
		 GROUP
		    BY CATEGORY_NAME
		     , CATEGORY_NO
	</entry>
	
	<entry key="searchProductList">
		SELECT 
		       PRODUCT_NO
		     , SELLER_NO
		     , PRODUCT_NAME
		     , PRICE
		     , ZONE
		     , UPLOAD_DATE
		  FROM PRODUCT
		 WHERE UPLOAD_TYPE = 'Y'
		   AND PRODUCT_NAME LIKE '%'||?||'%'
		 ORDER 
		    BY PRODUCT_NO DESC
	</entry>
	
	<entry key="searchCatList">
		SELECT 
		       CATEGORY_NAME
		     , CATEGORY_NO
		     , COUNT(PRODUCT_NAME) count
		  FROM PRODUCT
		  JOIN CATEGORY
		 USING (CATEGORY_NO)
		 WHERE PRODUCT_NAME LIKE '%'||?||'%'
		 GROUP 
		    BY CATEGORY_NAME, CATEGORY_NO
	</entry>
</properties>