<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRecentReport">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                 SELECT 
		                       REPORT_CATE
		                     , PRODUCT_NAME
		                     , USER_NAME
		                     , REPORT_DATE
		                  FROM MEMBER M
		                  JOIN PRODUCT P ON (M.USER_NO=P.SELLER_NO)
		                  JOIN REPORT R USING (PRODUCT_NO)
		                  JOIN REPORT_TYPE RT USING (REPORT_TYPE_NO)
		                 ORDER
		                    BY 4 DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN 1 AND 5
	</entry>

	<entry key="insertReport">
		INSERT
		  INTO REPORT
		  	  (
		  	  REPORT_NO
			, PRODUCT_NO
			, REPORTER
			, REPORT_TYPE_NO
			, REPORT_CONTENT
			, REPORT_DATE
		  	  )
		VALUES
		      (
		       SEQ_REPORT.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , SYSDATE
		      )
	</entry>
	
	<entry key="checkReport">
		SELECT COUNT(*) count
		  FROM REPORT
		 WHERE REPORTER = ?
		   AND PRODUCT_NO = ?
	</entry>
	
	<entry key="countReportList">
		SELECT
		       COUNT(*) count
		  FROM REPORT
		  JOIN REPORT_TYPE USING(REPORT_TYPE_NO)
		 WHERE REPORT_STATUS = 'Y'
	</entry>
	
	<entry key="selectReportList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                 SELECT 
		                       REPORT_NO
		                     , USER_NAME
		                     , PRODUCT_NAME
		                     , REPORT_CATE
		                     , REPORT_DATE
		                     , P.PRODUCT_NO
		                 FROM REPORT R
		  				 JOIN REPORT_TYPE USING(REPORT_TYPE_NO)
		  				 JOIN MEMBER M ON (R.REPORTER = M.USER_NO)
		  				 JOIN PRODUCT P ON (R.PRODUCT_NO = P.PRODUCT_NO)
		  				WHERE REPORT_STATUS = 'Y'
		                 ORDER
		                    BY 5 DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="updateReport">
		UPDATE MEMBER
		   SET CAUTION = CAUTION + 1
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectReportDetail">
		SELECT R.REPORT_NO,PRODUCT_NO,PRODUCT_NAME,M.USER_NAME AS REPORTER, RT.REPORT_CATE,R.REPORT_CONTENT,R.REPORT_DATE
		  FROM REPORT R
		  JOIN PRODUCT P USING (PRODUCT_NO)
		  JOIN MEMBER M ON(M.USER_NO = R.REPORTER)
		  JOIN REPORT_TYPE RT USING(REPORT_TYPE_NO)
		 WHERE REPORT_NO = ?
	</entry>
	
	<entry key="deleteReport">
		UPDATE REPORT
		   SET REPORT_STATUS = 'N'
		 WHERE REPORT_NO = ?
		   AND REPORT_STATUS = 'Y'
	</entry>
	
</properties>