<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRecentReport">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                 SELECT 
		                       REPORT_CATE
		                     , PRODUCT_NAME
		                     , USER_NAME
		                     , REPORT_DATE
		                  FROM MEMBER M
		                  JOIN PRODUCT P ON (M.USER_NO=P.SELLER_NO)
		                  JOIN REPORT R USING (PRODUCT_NO)
		                  JOIN REPORT_TYPE RT USING (REPORT_TYPE_NO)
		                 ORDER
		                    BY 4 DESC
		                    ) A
		        )
		 WHERE RNUM BETWEEN 1 AND 5
	</entry>

	<entry key="insertReport">
		INSERT
		  INTO REPORT
		  	  (
		  	  REPORT_NO
			, PRODUCT_NO
			, REPORTER
			, REPORT_TYPE_NO
			, REPORT_CONTENT
			, REPORT_DATE
		  	  )
		VALUES
		      (
		       SEQ_REPORT.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , SYSDATE
		      )
	</entry>
	
	<entry key="checkReport">
		SELECT COUNT(REPORT_NO) count
		  FROM REPORT
		 WHERE REPORTER = ?
		   AND PRODUCT_NO = ?
	</entry>
</properties>