        @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

html{border: none;}     
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(33, 33, 33);
}
html{
    height: 100%;
}
body{
    display: flex;
    height: 100%;
    min-height: 100vh;
    min-width: 1250px;
    background-color: rgb(249, 249, 249);
    color: rgb(33, 33, 33);
    text-align: left;
    flex-direction: column;
    align-items: center;
}
.flex{
    display: flex;
}
.wrap{
    width: 100%;
    min-width: 1250px;
    height: auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
}
#header1{
    height: 40px;
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 100%;
    justify-content: center;
    background-color: rgb(249, 249, 249);
}
#header1 *{
    border: none;
}
#header1-1{
    width: 1000px;
    height: 40px;
    justify-content: space-between;
}
#headerLeft{
    height: 40px;
    width: 110px;
}
#favoriteBtn{
    height: 40px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    border: none;
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 100px;
    display: flex;
    align-items: center;
}

#favoriteBtn:hover{
    color:#04b4fc
}
.loginBtn:hover, #headerMyStore:hover, #memberList a:hover,#footer2 a:hover{
    color:#04b4fc
}
#headerRight{
    height: 40px;
    width: 250px;
}
.loginBtn{
    height: 100%;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    padding:0 15px;
    border: none;
    border-bottom: 1px solid rgb(238, 238, 238);
}
#headerMyStore{
    text-decoration: none;
     color: rgb(33, 33, 33);
     font-size: 13px;
     justify-content: center;
     align-items: center;
     padding: 0 15px;
}

#headerRight {
    display: flex;
    justify-content: flex-end;
}

#header2 *{
    /* border: none; */
}

#header1 {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
}

#header2{
    height: 145px;
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 100%;
    padding-top: 35px;
    position: fixed; 
    top: 0px;
    left: 0px;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 249, 249);
}

#header2-1{
    width: 1000px;
    height: 40px;
    justify-content: space-between;
    /* border: none; */
}

#header2-1{
    display: flex;
    flex-direction: column;
}

#headerSearch{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
#logo, #logo img{
    height: 75px;
}
#logo{
    margin-right: 100px;
}
#searchBar{
    width: 460px;
    height: 40px;
    border: 2px solid #04b4fc;
    border-radius: 25px;
}
#searchContainer{
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    vertical-align: baseline;
    border: 0px;
}
#search{
    width: 410px;
    height: 17px;
    background-color: rgb(249, 249, 249);
    border: none;
    outline: none;
    font-size: 14px;
    
}
#searchImgContainer, #searchImg{
    height: 16px;
    width: 16px;
}
#chatSell{
    height: 26px;
    width: 210px;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
}

#chatSell img {
    width: 28px;
    height: 28px;
    padding: 5px;
}

#chat, #sell{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: bold;
    display: flex;
    align-items: center;
}
#chat:hover, #sell:hover{
    color: #04b4fc;
}
#chat{
    margin-right: 15px;
}
#chat::after{
    margin-left: 15px;
}
#headerCategory{
    width: 1000px;
    height: 70px;
    justify-content: space-between;
    margin-top: 30px;
}
#headerCategory, #notice{
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}

#categoryMenu:hover , #notice:hover, #search_header a:hover {
    text-decoration: none;
    color: #04b4fc;
    cursor: pointer;
}

#categoryMenu {
    display: flex;
    align-items: flex-end;
}

#sidebarWrap {
    position: fixed;
    top: 175px; 
    right: calc(50% - 600px);
    z-index: 20;
    flex-direction: column;
}


#jjimWrap{
    padding: 10px;
    width: 90px;
    height: 54px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(249, 249, 249);
    margin-bottom: 6px;
    box-sizing: border-box;
    display: block;
}
#jjimText{
    width: 68px;
    height: 16px; 
    font-size: 12px;
    font-weight: 600;
    color: rgb(102, 102, 102); 
    justify-content: center;          
}
#jjimLink{
    width: 68px;
    height: 16px;
    justify-content: center;
    text-decoration: none;
}
#recentProduct{
    padding: 10px;
    width: 90px;
    height: 175px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(249, 249, 249);
    margin-bottom: 6px;
    display: block;
}
#recentTitle{
    width: 68px;
    height: 12px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    text-align: center;
    margin-bottom: 8px;
    justify-content: center;
}
#recentDotContainer{
    height: 2px;
    justify-content: center;
}
#recentDottedBorder{
    width: 38px;
    height: 2px;
    border-bottom: 2px dotted rgb(136, 136, 136);
}
#recentSeenProduct{
    display: block;
    justify-content: center;
    align-items: center;
}
#seenEye, #seenText{
    justify-content: center;
    text-align: center;
}
#seenEye{
    font-size: 25px;
}
#seenText{
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 30px
}
#topContainer{
    width: 90px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    justify-content: center;
}
#topBtn{
    align-items: center;
    background-color: rgb(249, 249, 249);
    width: 100%;
    height: 100%;
    justify-content: center;
    font-weight: 600;
    color:  rgb(136, 136, 136);
}
#content{
    box-sizing: content-box;
    margin-top: 175px;
    width: 1000px;
    height: auto;
/*     flex:1; */
}
    
/* 푸터 시작 */

#footer{
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
    height: 235px;
    justify-content: center;
}
#footerWrap{
    display: block;
}
#memberList{
    margin: 0;
}
#memberList a{
    text-decoration: none;
    font-weight: 600;
    color:rgb(33, 33, 33);
}
#ml1::after,#ml2::after,#ml3::after{
    margin: 0 20px;
    content: "|";
}
#footer2{
    width: 1000px;
    height: 235px;
    justify-content: space-between;
    padding: 30px;
}
#footer2>div{
    display: block;
}
#footer2 p{
 display: block;
}
#footer2 a{
    text-decoration: none;
    color: rgb(33, 33, 33);
}
#footer2 h3{
    font-weight: 600;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: rgb(33, 33, 33);
}
#search_header{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 25px 0;
}
.aline::after{
    content: "|";
    margin: 0px 5px;
}
a:hover{
    text-decoration: none;
}
#search_content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.product_result{
    width: 192px;
    height: 310px;
    box-sizing: border-box;
}
#search_price::after{
    content: "원";
    font-size: 12px;;
}
#img_container, #product_thumbnail{
    width: 192px;
    height: 192px;

}
#search_title_price{
    padding: 13px 8px;
    width: 192px;
    height: 78px;
}
#no_match_text{
    padding: 200px 0px 300px 0px;
    justify-content: center;
    width:100%;
    flex-direction: column;
}
#search_text{
    width: 500px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: auto;
    padding-bottom: 35px;
}
#user_search_text{
    font-size: 30px;
    font-weight: 900;
    color: #04b4fc;
}
#search_advice{
    padding-top: 40px;
}
#category_table{
    width: 1000px;
    margin-top: 30px;
    background-color: white;
}
#category_header{
    padding: 20px;
    width: 100%;
}
#category_list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0px;
    border: 1px solid rgb(204, 204, 204);
}
#category_list>div>a{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}
#category_list>div{
    
}
div[id^=searched_items]{
    margin-left: 5px;
    color:  rgb(204, 204, 204);
    font-size: 12px;
}
#list1{
    border-bottom: 1px solid rgb(204, 204, 204);
}
#list2, #list3, #list4, #list5{
    border-left: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}
#list7, #list8, #list9, #list10{
    border-left: 1px solid rgb(204, 204, 204);
}
div[id^="banner"]{
    width: 1000px;  
    border: 2px solid blue; 
    background-color: #04b4fc; 
    text-align: center;
}
#banner1{
    height: 300px;
    margin-bottom: 15px;
}
#banner2{
    height: 200px;
}
#search_content_main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.product_result_main{
    width: 192px;
    height: 310px;
    box-sizing: border-box;
}
#search_price_main::after{
    content: "원";
    font-size: 12px;;
}
#img_container_main, #product_thumbnail_main{
    width: 192px;
    height: 192px;

}
#search_title_price_main{
    padding: 13px 8px;
    width: 192px;
    height: 78px;
}
#search_content_main{
    padding-top: 30px;
    padding-bottom: 30px;
}
#banner2+h2{
    margin-top: 60px;
}
#search_content_main2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.product_result_main2{
    width: 192px;
    height: 310px;
    box-sizing: border-box;
}
#search_price_main2::after{
    content: "원";
    font-size: 12px;;
}
#img_container_main2, #product_thumbnail_main2{
    width: 192px;
    height: 192px;

}
#search_title_price_main2{
    padding: 13px 8px;
    width: 192px;
    height: 78px;
}
#search_content_main2{
    padding-top: 30px;
    padding-bottom: 30px;
}
#home_img>img{
    width: 15px;
    height: 15px;
}
#home_img+img{
    width: 12px;
    height: 12px;
    margin: 5px 15px;
    
}
#product_category_selected{  
    border: 1px solid rgb(204, 204, 204);
    align-items: center;
}
#product_category_selected>div{
    padding: 0px 10px 0 10px;
    justify-content: space-between;
}
#category_path{
    margin: 30px 0 50px 0;
}
#product_category_selected:hover{
    cursor: pointer;   
}
#detail_pic_price *{
    /* border: 1px solid red; */
}
#small_thumbnail{
    width: 80px;
    flex-direction: column;
    margin-right: 20px;
}
#small_thumbnail>div{
width: 100%;
height: 80px;
margin: 0 20px 10px 0px;

}
#small_thumbnail>div>img{
width: 100%;
height: 100%;
}
#main_img{
    width: 400px;
    height: 400px;
    margin: 25px 10px 25px 0;
}
#main_img>img{
    height: 100%;
    width: 100%;
}
#product_info{
    width: 500px;
}
#detail_pic_price{
    padding-top: 30px;
    border-top: 1px solid black;
}
#detail_price{
    padding-top: 8px;
    border-bottom: 1px solid rgb(204, 204, 204);
    justify-content: space-between;
}
#detail_price>div{
    align-items: baseline; 
}
.need_line_after::after{
    margin: 0 5px 0 5px;
    color:  rgb(204, 204, 204);
    content: "|";
}
#like_view_time>*{
    color:  rgb(136, 136, 136);
}
#like_view_report{
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}
#go_report{
    color:  rgb(136, 136, 136);
}
#go_report:hover{
    cursor: pointer;
    color: red;
}
.dot_before::before{
    content: "ㆍ";
    color:  rgb(136, 136, 136);
}
.dot_before{
    width: 90px;
    color:  rgb(136, 136, 136);
}
#product_stats>div{
    margin-bottom: 25px;
}
#like_chat_buy{
    justify-content: space-between;
    margin-top: 30px;
}
#related_products{
    margin-top: 30px;
}
#related_product_pic_title{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
}
#related_product_pic_title>div{
    width: 180px;
}
#related_product_pic_title a{
    width: 100%;
}
#related_product_pic_title img{
    width: 100%;
    height: 160px;
}
#store_info, #store_info>img{
    width: 50px;
    height: 50px;
}
#random_products{
    margin-top: 30px;
}
#random_product_pic_title{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
}
#random_product_pic_title>div{
    width: 180px;
}
#random_product_pic_title a{
    width: 100%;
}
#random_product_pic_title img{
    width: 100%;
    height: 160px;
}
#header1, #header2, #header1 button, #header2 input{
    background-color: white;
}

#category_table{
width: 1000px;
margin-top: 30px;
background-color: white;
}
#category_header{
padding: 20px;
width: 100%;
}
#category_list{
display: grid;
grid-template-columns: repeat(5,1fr);
gap: 0px;
border: 1px solid rgb(204, 204, 204);
}
#category_list>div>a{
display: flex;
justify-content: left;
align-items: center;
padding: 20px;
}
div[id^=searched_items]{
margin-left: 5px;
color:  rgb(204, 204, 204);
font-size: 12px;
}
#list1{
border-bottom: 1px solid rgb(204, 204, 204);
}
#list2, #list3, #list4, #list5{
border-left: 1px solid rgb(204, 204, 204);
border-bottom: 1px solid rgb(204, 204, 204);
}
#list7, #list8, #list9, #list10{
border-left: 1px solid rgb(204, 204, 204);
}